{% extends "home/header.html" %}


{% block content %}
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>
<p>Welcome to Venue Booker! We are a small company looking to promote small musicians and concert democracy.</p>

{% include "home/includes/htmlsnippet.html" %}
{% endblock %}	