{% load static %}
<html>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'land/js/materialize.js' %}"></script>
    <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel='stylesheet' href="{% static 'land/css/materialize.css' %}" type='text/css'/>
    <link rel='stylesheet' href="{% static 'land/main.css' %}" type='text/css'/>

    <!-- Initialize metadata -->
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" ref="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'land/main.css' %}">

    <title>Songbird</title>
    <nav>
        <div class="nav-wrapper white">
           <a href="/">
               <img src="{% static 'land/image.jpg' %}" class="logo left overlay">
           </a>
           <ul class="right hide-on-med-and-down">
               {% if user.is_authenticated %}
                   <a class="waves-effect waves-light btn" href="{% url 'profile' %}">Profile</a>
                   <a class="waves-effect waves-light btn" href="{% url 'logout' %}">Logout</a>
               {% else %}
                   <a class="waves-effect waves-light btn" href="{% url 'login' %}" style="margin-top:10px">Sign In</a>
               {% endif %}
           </ul>
        </div>
    </nav>
    </head>

    <body>
        <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
