{%extends "land/base.html"%}

{%block content%}
    {% for event in events %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2" href="#">{{ event.name }}</a>
            <!--<small class="text-muted">{{ post.date_posted }}</small>--> 
            </div>
            <h2><a class="article-title" href="#"> Performing on {{event.performance_date}}</a></h2>
            <!--<p class="article-content">{{ post.content }}</p>-->
        </div>
    </article>

    <!--
    <h3>{{event.name}}</h3>
    <p>Performing on {{event.performance_date}}</p>
    -->
    
    {% endfor %}
{%endblock content%}